@model RockPaperWinners.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Sign Up</legend>
        <div class="control-group">
                @Html.LabelFor(m => m.FullName)
            <div class="controls">
                @Html.TextBoxFor(m => m.FullName)
                @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
                @Html.LabelFor(m => m.Email)
            <div class="controls">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
                @Html.LabelFor(m => m.Password)
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="form-actions">
            @Html.ValidationSummary(true)
            <input type="submit" class="btn btn-primary btn-large" value="Sign Up" />
        </div>
    </fieldset>
}
