@model RockPaperWinners.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Curently Playing";
}

<div id="game-wrapper">
    <div id="opponent-wrapper"></div>
    <div id="player-wrapper">
        <div id="player">
            <img src="@Model.ImageSource" alt="" />
            <div class="details">
                <h4>@Model.Name</h4>
            </div>
        </div>
        <div id="waiting" class="player-loader">
            <p class="message">Waiting for opponent...</p>
            <img src="@Url.Content("~/public/img/loader.gif")" alt="" />
        </div>
        <div id="controls">
            <h4>Current Bet</h4>
            <h3>$0.45</h3>
            <p class="message">Make a selection...</p>
            <button id="rock" data-action="Rock" class="actionbutton">Rock <img src="@Url.Content("~/public/img/rock.png")" alt="" /></button>
            <button id="paper" data-action="Paper" class="actionbutton">Paper <img src="@Url.Content("~/public/img/paper.png")" alt="" /></button>
            <button id="scissors" data-action="Scissors" class="actionbutton">Scissors <img src="@Url.Content("~/public/img/scissors.png")" alt="" /></button>
        </div>
    </div>
    <div id="win" class="result">
        <p class="message">You Win!</p>
    </div>
    <div id="lose" class="result">
        <p class="message">You Lose!</p>
    </div>
    <div id="draw" class="result">
        <p class="message">It's a Draw.</p>
    </div>
</div>

<script id="OpponentTemplate" type="text/html">
    <div id="opponent-wrapper">
        <div id="opponent">
            <img src="${imagesrc}" alt="" />
            <div class="details">
                <h4>${name}</h4>
            </div>
        </div>
        <div id="thinking" class="player-loader">
            <p class="message">Waiting for opponent...</p>
            <img src="@Url.Content("~/public/img/loader.gif")" alt="" />
        </div>
        <div class="controls">
            <button id="Orock" data-action="Rock" class="opponent-action">Rock <img src="@Url.Content("~/public/img/rock.png")" alt="" /></button>
            <button id="Opaper" data-action="Paper" class="opponent-action">Paper <img src="@Url.Content("~/public/img/paper.png")" alt="" /></button>
            <button id="Oscissors" data-action="Scissors" class="opponent-action">Scissors <img src="@Url.Content("~/public/img/scissors.png")" alt="" /></button>
        </div>
    </div>
</script>

@section underbody
{
    <div class="row">
        <div class="span4">
            <div class="hanger">
                <h3>Current Funds: $<span id="funds">0.00</span></h3>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        var g = null;

        $(function () {
            g = new Game();
            g.init();
            g.findGame();
        });
    </script>
}